main {
    display: flex;
    /* Используем flexbox для управления размещением */
    flex-direction: column;
    /* Располагаем элементы в колонку */
    justify-content: center;
    /* Центрируем содержимое по вертикали */
    align-items: center;
    /* Центрируем содержимое по горизонтали */
}

.container-login {
    /* width: 400px; */
    padding: 20px 12px;
    margin: 30px 20px;
    background-color: #fff;
    box-shadow: var(--box-shadow-element);
    border-radius: var(--border-radius-element);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.user-info {
    width: 100%;
    color: #6eb4ff;

    display: flex;
    justify-content: center;
}

.user-info span {
    color: red;
}

.static-notifications {
    display: flex;
    flex-direction: column;
}

.static-notifications ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.static-notifications ul li {
    padding: 16px;
    border-radius: var(--border-radius-element);
}

.static-notifications .success-notification {
    color: #44b418;
    background-color: #e4fbe5;
}

.static-notifications .warning-notification {
    color: #b4a718;
    background-color: #fbf9e4;
}

.static-notifications .error-notification {
    color: #b41818;
    background-color: #fbe4e4;
}

.form-login-system {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-login-system input[type="text"],
.form-login-system input[type="email"],
.form-login-system input[type="password"],
.form-login-system textarea {
    padding: 12px 12px;
    border-radius: var(--border-radius-element);
}

.form-login-system button {
    padding: 12px 12px;
    border-radius: var(--border-radius-element);
    background-color: var(--main-color);
    color: white;
}

.form-login-system button:hover {
    background-color: var(--alt-color);
}