
main {
    display: flex;
    /* Используем flexbox для управления размещением */
    flex-direction: column;
    /* Располагаем элементы в колонку */
    justify-content: center;
    /* Центрируем содержимое по вертикали */
    align-items: center;
    /* Центрируем содержимое по горизонтали */
}

.user-info {}

.login-system {}

.developer-info {}