/************** icon-notification **************/
.icon-notification-fill {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-notification-fill.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-notification-fill.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

.icon-notification-no-fill {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-notification-no-fill.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-notification-no-fill.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}


/************** icon-close **************/
.icon-close {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-close.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-close.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

/************** icon-setting-room **************/
.icon-setting-room-fill {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-setting-room-fill.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-setting-room-fill.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

/************** icon-bullet **************/
.icon-bullet {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-bullet.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-bullet.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

.icon-bullet-fill {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-bullet-fill.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-bullet-fill.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

.icon-bullet-full-fill {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-bullet-full-fill.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-bullet-full-fill.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

/************** icon-collapse **************/
.icon-collapse {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-collapse.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-collapse.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

/************** icon-expand **************/
.icon-expand {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-expand.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-expand.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

/************** icon-cards **************/
.icon-cards {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-cards.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-cards.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

/************** icon-target **************/
.icon-target {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask: url(../resources/icons/icon-target.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask: url(../resources/icons/icon-target.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    /* background-color: #838383; */
}

/************** icon-timer **************/
.icon-timer {
     display: block;
     width: 100%;
     height: 100%;
     -webkit-mask: url(../resources/icons/icon-timer.svg);
     -webkit-mask-repeat: no-repeat;
     -webkit-mask-size: contain;
     mask: url(../resources/icons/icon-timer.svg);
     mask-repeat: no-repeat;
     mask-size: contain;
     /* background-color: #838383; */
 }