.notifications {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notifications .base-icon-medium:hover {
    cursor: pointer;
    /* border: 1px solid #ffffff; */
    /* border-radius: 50%;
    box-shadow: 0px 0px 12px 0px #5E5E5E; */
}

.notifications ul {
    position: absolute;
    margin-top: 72px;
    color: #333;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.notifications ul li {
    max-width: 300px;
    padding: var(--padding-element);
    border-radius: var(--border-radius-element);
    box-shadow: var(--box-shadow-element);

    color: #ffffff;
    background-color: #173d65;

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.notifications ul li.fade-out {
    animation: fadeOut 2s forwards;

    /* Задержка начала анимации на 3 секунды */
    animation-delay: 3s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.notifications .base-icon-min {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}

.notifications .base-icon-min>i {
    background-color: #333;
}


/****************
*       
****************/