.setting-room {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.setting-room ul {
    position: absolute;
    /* right: 32px; */
    margin-top: 72px;
    min-width: 200px;
    border-radius: var(--border-radius-element);
    box-shadow: var(--box-shadow-element);
    color: #ffffff;
    background-color: var(--alt-color);
    z-index: 100;

    display: none;
    flex-direction: column;
    align-items: center;
}

.setting-room ul li {
    width: 100%;
    padding: var(--padding-element);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.setting-room ul li:hover {
    cursor: pointer;
    color: var(--alt-color);
    background-color: #ffffff;
}

.setting-room .base-icon-medium:hover {
    cursor: pointer;
}

.setting-room .base-icon-medium:hover i {
    background-color: var(--alt-color);
}

.setting-room.activate ul {
    display: flex;
}

.setting-room.activate .base-icon-medium i {
    background-color: var(--alt-color);
}

/*================================================================*/


main {
    padding: 40px 0%;
    width: 100%;
    min-height: calc(100vh - 72px);
}

.game-card {
    max-width: var(--card-max-width);
    max-height: var(--card-max-height);
    min-width: var(--card-min-width);
    min-height: var(--card-min-height);
    border-radius: var(--card-radius);
}

.game-card-none {
    max-width: var(--card-max-width);
    max-height: var(--card-max-height);
    min-width: var(--card-min-width);
    min-height: var(--card-min-height);
    border-radius: var(--card-radius);
    background-color: rgba(255, 255, 255, 0.6)
}

.game-card img {
    width: 100%;
    height: 100%;
    min-width: inherit;
    min-height: inherit;
    border-radius: inherit;
}

.game-field {
    width: 100%;
    height: 100%;

    /* background-color: #e5bc80; */

    /* background-image: url('../resources/imgs/pack1/sand.png'); */
    /* Масштабирование изображения по размеру блока */
    /* background-size: cover; */
    /* Отменяет повторение */
    /* background-repeat: no-repeat; */
    /* Позиционирует изображение по центру */
    /* background-position: top left; */

    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    /* Центрирует содержимое ячеек */
    place-items: center;
}

.players-field {
    grid-row: 2 / 3;
    grid-column: 2 / 3;


    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.players-field .grid-item {
    /* padding: 20px; */
    /* background-color: #c5c5c5; */
    /* text-align: center; */
    /* border: 1px solid #fff2f2; */
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/************************** battle zone **************************/
.battle-zone {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
}

.battle-zone .fighting-line {
    position: relative;
    padding: 8px;
    border-radius: var(--game-board-radius);
    background-image: url('../resources/imgs/background/temp_area_0.png');
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.battle-zone .step {
    display: flex;
    padding: 8px;
    border-radius: var(--game-board-radius);
    background-color: var(--game-board-main-color);
    justify-content: center;
    align-items: center;
    color: #fff;
}

.battle-zone .player-card-area {
    padding: 4px;
    border: 2px dashed var(--game-board-main-color);
    border-radius: var(--game-board-radius);

    display: flex;
    flex-direction: column;
    gap: var(--game-board-gap);
}

.player-card-area .player-name {
    padding: var(--game-board-spacer);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--game-board-main-color);
    font-size: var(--game-board-name-size);
    font-weight: bold;
    background-color: #ffffffa3;
    border-radius: var(--game-board-radius);
}

.player-card-area .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--game-board-gap);
}

/************************** players field **************************/

.players-field .grid-item.my-player {
    grid-column: 2 / 3;
    grid-row: 4 / 4;

    /* height: 100px; */
    /* width: 200px; */
    background-color: #ffa8a8;
}

/************************** GAME BOARD **************************/
.game-board {
    height: 100%;
    border-radius: var(--game-board-radius);
    padding: var(--game-board-gap);
    background-image: url('../resources/imgs/background/game_board_0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    display: flex;
    flex-direction: column;
    gap: var(--game-board-gap);
    align-items: center;
    justify-content: center;
}

.game-board .player-name {
    padding: var(--game-board-spacer);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--game-board-main-color);
    font-size: var(--game-board-name-size);
    font-weight: bold;
    background-color: var(--colored-spacer-white);
    border-radius: var(--game-board-radius);
}

/*========================= LIVES ==============================*/
.game-board .lives {
    width: 100%;
    padding: 4px;
    background-color: var(--colored-spacer-white);
    border-radius: var(--game-board-radius);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lives .icon-live-bullet-not {
    width: 32px;
    height: 32px;
    /* background-color: #ffffff; */
}

.lives .icon-live-bullet-not>i {
    background-color: #ffffffa8;
}

.lives .icon-live-bullet {
    width: 32px;
    height: 32px;
}

.lives .icon-live-bullet>i {
    background-color: var(--game-board-main-color);
}

/*==============================================================*/

/*========================= INFO ==============================*/

.game-board .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--game-board-gap);
}

.info .role {}

.info .character {}

.info .weapon {}

/*==============================================================*/

.card-temp-area {
    position: relative;
    padding: 8px;
    /* width: var(--card-max-width); */
    border-radius: var(--game-board-radius);
    background-image: url('../resources/imgs/background/temp_area_0.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: top left; */
}

.card-temp-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    /* Полупрозрачная заливка */
    z-index: 1;
    /* Псевдоэлемент накрывает фоновое изображение */
}

.card-temp-area .card-container {
    position: relative;
    padding: 2px;
    max-width: var(--card-max-width);
    min-width: var(--card-min-width);
    height: 100%;
    border: 2px dashed #fff;
    border-radius: var(--card-radius);
    z-index: 2;
    /* display: flex; */

}

/* .game-field .top-image {
    width: 60%;

    grid-row: 1 / 2;
    grid-column: 2 / 3;*/

/* Прижимает изображение к верхнему краю ячейки */
/* align-self: start; */
/* } */

/* .game-field .center-image {
    width: 24%;

    grid-row: 2 / 3;
    grid-column: 2 / 3;
} */

.game-controls {
    display: none !important;
    position: absolute;
    width: 100%;
    background: #a3a3a369;
    display: flex;
    flex-direction: column;
}