.setting-room {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.setting-room ul {
    position: absolute;
    /* right: 32px; */
    margin-top: 72px;
    min-width: 200px;
    border-radius: var(--border-radius-element);
    box-shadow: var(--box-shadow-element);
    color: #ffffff;
    background-color: var(--alt-color);
    z-index: 100;

    display: none;
    flex-direction: column;
    align-items: center;
}

.setting-room ul li {
    width: 100%;
    padding: var(--padding-element);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.setting-room ul li:hover {
    cursor: pointer;
    color: var(--alt-color);
    background-color: #ffffff;
}

.setting-room .base-icon-medium:hover {
    cursor: pointer;
}

.setting-room .base-icon-medium:hover i {
    background-color: var(--alt-color);
}

.setting-room.activate ul {
    display: flex;
}

.setting-room.activate .base-icon-medium i {
    background-color: var(--alt-color);
}

/*================================================================*/


main {
    width: 100%;
    min-height: calc(100vh - 72px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-card {
    position: relative;
    max-width: var(--card-max-width);
    max-height: var(--card-max-height);
    min-width: var(--card-min-width);
    min-height: var(--card-min-height);
    border-radius: var(--card-radius);
}

.game-card-none {
    max-width: var(--card-max-width);
    max-height: var(--card-max-height);
    min-width: var(--card-min-width);
    min-height: var(--card-min-height);
    border-radius: var(--card-radius);
    background-color: rgba(255, 255, 255, 0.6)
}

.game-card img {
    width: 100%;
    height: 100%;
    min-width: inherit;
    min-height: inherit;
    border-radius: inherit;
}

/* .game-card .description {
    position: absolute;
    border: 2px solid #380f19;
    margin: -90px -120px 40px 90px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4caf3e63;
    border-radius: inherit;
    z-index: 4;
    background-image: url(../resources/imgs/cards/cardBacks/girl.png);
    background-size: cover;

    opacity: 0;
    pointer-events: none;
    animation: none;
}

@keyframes showBlock {
    to {
        opacity: 1;
    }
}

.game-card:hover .description {
    animation: showBlock 1s ease-in 1s forwards;
} */

.game-card:hover::before {
    content: "";
    cursor: pointer;
    position: absolute;
    border: 2px solid #4baf3e;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4caf3e63;
    border-radius: inherit;
}

.icon-control {
    padding: var(--player-hand-cards-padding);
    background-color: var(--colored-spacer-white);
    border-radius: var(--player-hand-radius);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.icon-control>.item-value {}

.icon-control>i {
    width: 24px;
    height: 24px;
    background-color: #36101b;
}

.icon-control:hover {
    cursor: pointer;
    background-color: #fff;
}

/************************** players field **************************/
.players-field {
    padding: 40px 0px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.players-field .grid-item {
    /* padding: 20px; */
    /* background-color: #c5c5c5; */
    /* text-align: center; */
    /* border: 1px solid #fff2f2; */
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/************************** battle zone **************************/
.battle-zone {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    position: relative;
    min-width: var(--card-min-width);
    min-height: var(--card-min-height);
    height: 100%;
    width: 100%;
    padding: 8px;
    border-radius: var(--game-board-radius);
    background-image: url('../resources/imgs/background/temp_area_0.png');
    background-size: cover;

    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.battle-zone .controls{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.battle-zone .cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--game-board-gap);
}

.battle-zone .cards-decks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--game-board-gap);
}

/* .deck-main {
    position: relative;
    max-width: var(--card-max-width);
    max-height: var(--card-max-height);
    min-width: var(--card-min-width);
    min-height: var(--card-min-height);
    border-radius: var(--card-radius);
}

.deck-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: inherit;
    z-index: 1;
}

.deck-main img {
    width: 100%;
    height: 100%;
    min-width: inherit;
    min-height: inherit;
    border-radius: inherit;
} */

/************************** players field **************************/

.players-field .grid-item.my-player {
    grid-column: 2 / 3;
    grid-row: 4 / 4;

    /* height: 100px; */
    /* width: 200px; */
    background-color: #ffa8a8;
}

/************************** GAME BOARD **************************/
.game-board {
    position: relative;
    height: 100%;
    border: 4px solid #ffffff;
    border-radius: var(--game-board-radius);
    padding: var(--game-board-gap);
    background-image: url('../resources/imgs/background/game_board_0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    display: flex;
    flex-direction: column;
    gap: var(--game-board-gap);
    align-items: center;
    justify-content: center;
}

.game-board:hover {
    border: 4px solid #af3e3e;
}

/* .game-board:hover::before {
    content: "";
    cursor: pointer;
    position: absolute;
    border: 2px solid #4baf3e;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4caf3e63;
    border-radius: inherit;
} */

/*========================= front panel ==============================*/
.game-board .front-panel {
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: var(--game-board-gap);
}

.game-board .player-name {
    padding: var(--game-board-spacer);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--game-board-main-color);
    font-size: var(--game-board-name-size);
    font-weight: bold;
    background-color: var(--colored-spacer-white);
    border-radius: var(--game-board-radius);
}

/*========================= LIVES ==============================*/
.game-board .lives {
    width: 100%;
    padding: 4px;
    background-color: var(--colored-spacer-white);
    border-radius: var(--game-board-radius);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lives .icon-live-bullet-not {
    width: 24px;
    height: 24px;
    /* background-color: #ffffff; */
}

.lives .icon-live-bullet-not>i {
    background-color: #ffffffa8;
}

.lives .icon-live-bullet {
    width: 24px;
    height: 24px;
}

.lives .icon-live-bullet>i {
    background-color: var(--game-board-main-color);
}

/*==============================================================*/

/*========================= INFO ==============================*/

.game-board .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--game-board-gap);
}

.info .role {}

.info .character {}

.info .weapon {}

/*==============================================================*/

.card-temp-area {
    position: relative;
    padding: 4px;
    /* width: var(--card-max-width); */
    border-radius: var(--game-board-radius);
    background-image: url('../resources/imgs/background/temp_area_0.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: top left; */
}

.card-temp-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    /* Полупрозрачная заливка */
    z-index: 1;
    /* Псевдоэлемент накрывает фоновое изображение */
}

.card-temp-area .cards-container {
    position: relative;
    padding: 2px;
    max-width: var(--card-max-width);
    min-width: var(--card-min-width);
    height: 100%;
    border: 2px dashed #fff;
    border-radius: var(--card-radius);
    z-index: 2;
    /* display: flex; */

}

/************************** player hand **************************/

.player-hand {
    position: sticky;
    bottom: 0px;
    /* background-color: #81ffff; */
    width: 100%;
    padding: var(--player-hand-main-padding);
    z-index: 100;
    background-image: url('../resources/imgs/background/background_0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-box-shadow: var(--player-hand-main-box-shadow);
    -moz-box-shadow: var(--player-hand-main-box-shadow);
    box-shadow: var(--player-hand-main-box-shadow);

    display: flex;
    flex-direction: column;
    gap: var(--player-hand-spacer);
}

.player-hand .game-card {
    min-height: var(--card-max-height);
    min-width: var(--card-max-width);
}

.player-hand .front-panel {
    display: flex;
    flex-direction: row;
    gap: var(--player-hand-spacer);
}

.player-hand .player-name {
    padding: var(--game-board-spacer);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--game-board-main-color);
    font-size: var(--game-board-name-size);
    font-weight: bold;
    background-color: var(--colored-spacer-white);
    border-radius: var(--game-board-radius);
}


/*==============================================================*/
.player-hand .player-lives {
    padding: var(--player-hand-cards-padding);
    background-color: var(--colored-spacer-white);
    border-radius: var(--player-hand-radius);

    display: flex;
    flex-direction: row;
    gap: var(--player-hand-front-panel-gap);
}

.player-lives .icon-live-bullet-not {
    width: 32px;
    height: 32px;
    /* background-color: #ffffff; */
}

.player-lives .icon-live-bullet-not>i {
    background-color: #ffffffa8;
}

.player-lives .icon-live-bullet {
    width: 32px;
    height: 32px;
}

.player-lives .icon-live-bullet>i {
    background-color: var(--game-board-main-color);
}

/*==============================================================*/
.player-hand .player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--player-hand-front-panel-gap);
}

/*==============================================================*/

.player-hand .main-panel {
    max-height: 280px;
    padding: 4px 0px;
    overflow-y: auto;

    display: flex;
    flex-direction: row;
    gap: var(--player-hand-spacer);
}

.player-hand .cards-container {
    height: 100%;
    padding: 8px 8px;
    border-radius: var(--player-hand-radius);
    /* background-color: var(--colored-spacer-white); */

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--player-hand-spacer);
}

.player-hand .cards-info {}

.player-hand .cards-temp {
    min-width: var(--card-max-width);
    align-items: center;
    flex-wrap: wrap;
}

.player-hand .cards-hand {
    min-width: var(--card-max-width);
    align-items: center;
    flex-wrap: wrap;
}


/************************** game controls **************************/
.game-controls {
    display: none !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #454545b5;
    /* background-image: url(../resources/imgs/background/bulletin_board_0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left; */
    /* opacity: 0.5; */
    z-index: 200;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-controls .controls {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.game-controls .content {
    display: none !important;
}

.game-controls .cards-selection {
    border-radius: 12px;
    padding: 20px;
    margin: 30px 0px;
    max-width: 560px;
    color: #36101b;
    background-image: url(../resources/imgs/background/old_paper_0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cards-selection .header {
    padding: 8px;
    border-radius: 12px;
    background-color: var(--colored-spacer-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-selection .header h5 {
    padding: 0px 0px 8px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #36101b;
}

.cards-selection .cards-container {
    max-width: 560px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12px;
}

.cards-selection>p {
    padding: 8px;
    border-radius: 12px;
    background-color: var(--colored-spacer-white);
}

.cards-selection p>i {
    text-decoration: underline;
    font-weight: bold;
    padding: 0px 4px;
}