/* Сброс стилей для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Упрощает работу с шириной и высотой */
}

/* Убираем стили у списков */
ul,
ol {
    list-style: none;
    /* Убираем маркеры у списков */
}

/* Убираем стили у ссылок */
a {
    text-decoration: none;
    /* Убираем подчеркивание */
    color: inherit;
    /* Наследуем цвет текста */
}

/* Стили для различных состояний ссылок */
a:visited {
    color: inherit;
    /* Устанавливаем цвет как у обычного текста */
}

a:hover,
a:focus {
    color: inherit;
    /* Устанавливаем цвет как у обычного текста */
}

/* Убираем стили у таблиц */
table {
    border-collapse: collapse;
    /* Убираем двойные границы */
    width: 100%;
    /* Устанавливаем ширину таблицы на 100% */
}

/* Настройка заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    /* Убираем жирность заголовков */
}

/* Базовые стили для body */
body {
    /* Шрифт по умолчанию */
    font-family: Arial, sans-serif; 
    
    /* Устанавливаем межстрочный интервал */
    line-height: 1.0;
    
    /* Цвет фона */
    background-color: #f9f9f9;
    
    /* Цвет текста */
    color: #333;
    
}

/* Стили для изображений */
/* img {
    max-width: 100%;
    height: auto;
} */

/* Убираем стили у форм */
input,
button,
textarea,
select {
    font-family: inherit;
    /* Устанавливаем шрифт по умолчанию */
    font-size: inherit;
    /* Устанавливаем размер шрифта по умолчанию */
    line-height: inherit;
    /* Устанавливаем межстрочный интервал по умолчанию */
}

/* Убираем стили у кнопок */
button {
    cursor: pointer;
    /* Устанавливаем курсор при наведении на кнопку */
}

/* Настройка полей ввода */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    border: 1px solid #ccc;
    /* Устанавливаем границу по умолчанию */
    border-radius: 0px;
    /* Скругляем углы */
    padding: 0px;
    /* Устанавливаем внутренние отступы */
    width: 100%;
    /* Устанавливаем ширину на 100% */
}

/* Убираем стили у кнопок */
button {
    /* background-color: #007bff; */
    /* Цвет фона кнопок */
    /* color: white; */
    /* Цвет текста кнопок */
    border: none;
    /* Убираем границы */
    border-radius: 0px;
    /* Скругляем углы */
    padding: 0px 0px;
    /* Устанавливаем внутренние отступы */
}

/* Убираем стили у кнопок при наведении */
button:hover {
    /* background-color: #0056b3; */
    /* Цвет фона кнопок при наведении */
}