:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --font-size: 16px;
    --border-radius-element: 4px;
    --padding-element: 12px;
    --box-shadow-element: 0px 0px 18px 0px #adadad;

    --main-color: #007bff;
    --alt-color: #173d65;
    --colored-spacer-white: #ffffff7a;

    --card-radius: 12px;
    --card-max-width: 80px;
    --card-max-height: 124px;
    --card-min-width: 50px;
    --card-min-height: 84px;

    --game-board-main-color: #36101a;
    --game-board-gap: 8px;
    --game-board-spacer: 4px;
    --game-board-radius: 12px;
    --game-board-name-size: 16px;

    /* --player-name- */
    --player-hand-main-padding: 12px 8px;
    --player-hand-main-box-shadow: 0px -4px 12px 2px rgb(163 163 163);
    --player-hand-spacer: 8px;
    --player-hand-radius: 12px;
    --player-hand-cards-padding: 4px 8px;

    --player-hand-front-panel-padding: 4px 8px;
    --player-hand-front-panel-background-color: #ffffff99;
    --player-hand-front-panel-gap: 8px;
}