:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --font-size: 16px;
    --border-radius-element: 4px;
    --padding-element: 12px;
    --box-shadow-element: 0px 0px 18px 0px #adadad;

    --main-color: #007bff;
    --alt-color: #173d65;
}